[submodule "allotments/🌱 Digital Garden Publishing"]
	path = allotments/🌱 Digital Garden Publishing
	url = https://github.com/philskents/allotments-garden.git
	branch = main
[submodule "Perlite"]
	path = Perlite
	url = https://github.com/philskents/Perlite.git
